// Media queries
@mixin huge {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 800px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: 500px) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: 350px) {
    @content;
  }
}

@mixin tiny {
  @media only screen and (max-width: 200px) {
    @content;
  }
}