&__footer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 5em;
  background-color: color(secondary);
  color: fontColor(secondary);

  &::before {
    content: '';
    width: 100%;
    height: 5em;
    display: block;
    position: absolute;
    bottom: 100%;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    background: color(secondary);
  }

  &::after {
    content: '';
    width: 100%;
    height: 5em;
    display: block;
    position: absolute;
    bottom: 100%;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    background: color(secondary);
  }
}

&__footersections {
  text-decoration: none;
  font-size: 2em;
  line-height: 1em;
  height: auto;
  background-color: color(secondary);
}

&__footerspan {

  padding-left: 1em;
}

&__trade {
  margin: .5em auto;
}