&__grid--multi {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  grid-gap: 1em;
  justify-content: center;
  align-content: center;
}

&__grid--double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-content: center;
  align-content: center;
}

&__grid--single {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
}