&__header {
  position: relative;
  display: flex;
  width: 100%;
  height: 30em;

  &::before {
    content: '';
    width: 100%;
    height: 5em;
    display: block;
    position: absolute;
    bottom: 0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background: color(secondary);
  }

  &::after {
    content: '';
    width: 100%;
    height: 4em;
    display: block;
    position: absolute;
    bottom: 0;
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    background: color(primary);
  }

  @include huge {
    height: 20em;
  }

  @include large {
    height: 15em;
  }

  @include medium {
    height: 14em;
  }
}

&__hero--para {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/hero-min.jpg") no-repeat fixed;
  background-size: 100% auto;
}

&__intro {
  position: absolute;
  top: 50%;
  left: 10em;
  transform: translateY(-50%);
  width: 50%;
  color: fontColor(secondary);

  @include huge {
    left: 5em;
    top: 40%;
  }
}

&__motto {
  margin: 0;
  font-size: 4em;

  @include huge {
    font-size: 3em;
  }

  @include large {
    font-size: 2.5em;
  }

  @include medium {
    font-size: 2em;
  }
}

&__introdesc {
  margin: 0;
  font-style: italic;
  font-size: 1.5em;

  @include huge {
    font-size: 1.2em;
  }

  @include large {
    font-size: 1em;
  }

  @include medium {
    font-size: .8em;
  }
}