&__navigation {
  position: relative;
  width: 100%;
  background-color: color(tertiary);
  border-bottom: .5em color(secondary) solid;
}

&__logo{
  position: absolute;
  top: 50%;
  left: 10em;
  transform: translateY(-50%);
  float: left;
  width: 10em;
  height: auto;
}

&__navlist{
  margin: auto 10em;
  padding: 0;
  list-style: none;
  text-align: right;
}

&__navitem{ 
  display: inline-block;
  margin-left: 2em;
  font-size: 2em;
  line-height: 5em;
}