&__services {
  text-align: left;
}

&__title {
  margin-bottom: .5em;
  font-size: 4em;
}

&__desc {
  margin: 0;
  padding-bottom: 1em;
  font-size: 1.2em;
}

&__aboutimg {
  max-width: 100%;
  height: auto;
}